@import "../styles/variables.scss";
//Logo
.custom-logo {
  height: 50px;
}

.bb {
  color: $primary-color;
}
.custom-bg {
  background-color: $secondary-color;
}
.custom-height {
  height: 600px;
  object-fit: cover;
}

.orange-bg {
  background-color: rgba(255, 165, 0, 0.75);
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-weight: 600;
}
//button
.call-location {
  display: flex;
  gap: 10px;
}

.button-with-icon {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .button-with-icon {
    width: 100%;
    justify-content: center;
  }
}
.icon {
  margin-right: 5px;
}

.text {
  white-space: nowrap; /* Prevent line break for the text */
  padding: 0;
}
//Banner
.responsive-heading {
  font-size: 70px;

  /* Responsive font sizes based on screen size */
  @media (max-width: 991px) {
    font-size: 50px;
  }
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

@media (max-width: 991px) {
  //link
  .home-link {
    margin-top: 50px;
    color: green;
  }
}
